extends layout

block content
  script(src='/javascripts/map.js')
  script(src='/javascripts/FroggerMap.js')
  script(src='/javascripts/FroggerEntity.js')
  h1= title
  span#teststuff
  #map_viewport(name=map.name)